<div class="row">
 <div class="col-lg-12">
   <div class="page-header">
   </div>
   <div class="bs-component">
     <div class="jumbotron">
       <h1>Taustakysely</h1>
       <p>Vastaa kysymyksiin, niin arvioin
         soveltuvuuttasi eri ammattialoille.
       </p>


     </div>
   </div>
 </div>
</div>
<form class="form-horizontal questions"
  action="/evaluate" method="post">


<!-- @lvp if you wand ajax sending of form
    <form class="form-horizontal questions"
    onsubmit="return sendresults(this);">
-->

  <fieldset>
{{#each questions}}
<div class="row">
 <div class="col-lg-8">
<legend>{{text}}</legend>

<div class="form-group survey-question">
  <label class="col-lg-2 control-label"></label>
  <div class="radio col-lg-2">
    <label>
      <input name="question{{id}}" class="answer"
      value="1"  type="radio">
       todellakin
    </label>
  </div>
  <div class="radio col-lg-2">
    <label>
      <input name="question{{id}}" class="answer"
      value="2"  type="radio">
       kohtuullisesti
    </label>
  </div>
  <div class="radio col-lg-2">
    <label>
      <input name="question{{id}}" class="answer"
      value="3" checked="checked" type="radio">
       vähän
    </label>
  </div>
  <div class="radio col-lg-2">
    <label>
      <input name="question{{id}}" class="answer"
      value="4"  type="radio">
       tosi vähän
    </label>
  </div>
</div>

 </div>
</div>
{{/each}}
<div class="row">
 <div class="col-lg-12">
       <div class="jumbotron">
         <p>Kirjoita nimi ja salasana, jos haluat luoda käyttäjätunnuksen</p>

         <input name='user' placeholder='Nimi'><br>
        <input name='password' type='password' placeholder='salasana'><br>
               <p>Tän voisi siis tehdä tässä yhteydessä</p>


       <p><button type='submit' class="btn btn-primary btn-lg">Lähetä vastaukset</button></p>
     </div>
   </div>
 </div>


</fieldset>
</form>
</div>

<script type="text/javascript">
//@lvp if you want ajax sending/checking of form

function sendresults( form ){
  var data = JSON.stringify( $(form).serializeArray() );

  console.log( data );
  $.post("http://localhost/:3000/evaluate", data )
}

</script>
